.devcontainer/
.vscode/
.idea/
.cache/
build*/
build/
bin/
bin*/
.clangd/
compile_commands.json
*.bin
*.safetensors
cmake-build-debug/
cmake-build-release/
cmake-build-*/
CMakeFiles/
lib/
__pycache__/
*.log
_deps
.uuid
*.cmake
Makefile
*.model
models/*
/.devcontainer/
/.vscode/
workflow.py
src/backends/qnn/qualcomm_ai_engine_direct_220/*
src/backends/qnn/HexagonSDK/*
tmp/
py-build-out/
mllm.egg-info/

examples/demo_deepseek.cpp
src/models/deepseek/*
examples/demo.cpp

src/backends/qnn/sdk/*
