.vscode/settings.json
.cache/
.tmp/
compile_commands.json

# MLLM Team Specific
tasks/mllmteam*

# Building files and binary
build*/
install*/

# Pymllm related
stubs/
py-build-out/
pymllm.egg-info/
_C.cpython-*.so

# Python related
__pycache__/
