[submodule "android"]
	path = android
	url = https://github.com/lx200916/ChatBotApp
[submodule "third_party/pybind11"]
	path = third_party/pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "src/backends/xnnpack/third_party/XNNPACK"]
	path = src/backends/xnnpack/third_party/XNNPACK
	url = https://github.com/google/XNNPACK.git
[submodule "third_party/googletest"]
	path = third_party/googletest
	url = https://github.com/google/googletest.git
