.devcontainer/
.vscode/
.idea/
.cache/
build*/
build/
bin/
bin*/
.clangd/
compile_commands.json
*.bin
*.safetensors
cmake-build-debug/
cmake-build-release/
cmake-build-*/
CMakeFiles/
lib/
__pycache__/
*.log
_deps
.uuid
*.cmake
Makefile
*.model
models/*
/.devcontainer/
/.vscode/
examples/demo_deepseek.cpp
