# Contributors can indicate their level of familiarity with a specific functional module in this document to demonstrate whether they are capable of reviewing the code related to these modules.

# Core

/core/Storage @chenghuaWang
/core/Tensor* @chenghuaWang @oreomaker @yirongjie
/core/DataTypes @yirongjie @chenghuaWang
/core/DeviceTypes @chenghuaWang

# Install and ENV

/cmake/ @chenghuaWang
/.devcontainer/ @chenghuaWang
/docker/ @chenghuaWang

# Documents & Website Related

/docs/ @chenghuaWang @oreomaker @yirongjie @liang1232018 @xumengwei

# Backends

/mllm/backends/cpu/ @yirongjie @chenghuaWang @oreomaker
/mllm/backends/arm/ @chenghuaWang @yirongjie
/mllm/backends/qnn/ @oreomaker @liang1232018 @chenghuaWang

# Compiler

/mllm/compile/ @chenghuaWang
