# Contributors can indicate their level of familiarity with a specific functional module in this document to demonstrate whether they are capable of reviewing the code related to these modules.

# Core

/core/Storage @chenghuaWang
/core/Tensor* @chenghuaWang @oreomaker @yirongjie
/core/DataTypes @yirongjie @chenghuaWang
/core/DeviceTypes @chenghuaWang

# Install and ENV

/cmake/ @chenghuaWang
/.devcontainer/ @chenghuaWang
/docker/ @chenghuaWang

# Documents & Website Related

/docs/ @chenghuaWang @oreomaker @yirongjie @liang1232018 @xumengwei

# Backends

/mllm/backends/cpu/ @yirongjie @chenghuaWang @oreomaker
/mllm/backends/arm/ @chenghuaWang @yirongjie
/mllm/backends/qnn/ @oreomaker @liang1232018 @chenghuaWang

# Kernels

/mllm/backends/cpu/kernels/common/ggml/quantize @yirongjie
/mllm/backends/cpu/kernels/arm/linear/ggml @yirongjie
/mllm/backends/cpu/kernels/arm/linear/mkernel @chenghuaWang
/mllm/backends/cpu/kernels/common/fa2 @chenghuaWang
/mllm/backends/cpu/kernels/common/paged_attn @chenghuaWang

# Compiler

/mllm/compile/ @chenghuaWang

# KVCache

/mllm/nn/lmcache/ @chenghuaWang @oreomaker
/mllm/engine/prefix_cache @chenghuaWang

# models
/mllm/models/qwen3 @chenghuaWang
/mllm/models/qwen2vl @chenghuaWang
/mllm/models/qwen2_5vl @chenghuaWang
/mllm/models/llama @oreomaker
/mllm/models/vocos @oreomaker
/mllm/models/minicpm_o2_6 @oreomaker
