Tasks:
  - CMakeConfigTask:
      cmake_cfg_path: "build-osx"
      cmake_build_type: "Release"
      cmake_extra_args:
        - "-DCMAKE_CXX_COMPILER=/opt/homebrew/opt/llvm/bin/clang++"
        - "-DCMAKE_C_COMPILER=/opt/homebrew/opt/llvm/bin/clang"
        - '-DCMAKE_CXX_FLAGS=-include\ cstdlib'
        - "-DCMAKE_EXE_LINKER_FLAGS=-L/opt/homebrew/opt/llvm/lib/c++ -Wl,-rpath,/opt/homebrew/opt/llvm/lib/c++"
        - "-DCMAKE_SHARED_LINKER_FLAGS=-L/opt/homebrew/opt/llvm/lib/c++ -Wl,-rpath,/opt/homebrew/opt/llvm/lib/c++"
        - "-DMLLM_BUILD_ARM_BACKEND=ON"
        - '-DMLLM_CPU_BACKEND_COMPILE_OPTIONS="-march=native+fp16+fp16fml+dotprod+i8mm+sme"'
        - "-DMLLM_KERNEL_USE_THREADS=ON"
        - "-DMLLM_KERNEL_THREADS_VENDOR_OPENMP=OFF"
        - "-DMLLM_KERNEL_THREADS_VENDOR_APPLE_GCD=ON"

  - CMakeBuildTask:
      cmake_cfg_path: "build-osx"
